/* @media only screen and (max-width:477px){ */
@media only screen and (max-width:426px){
    
    .navmain ul li{
        display: none;
    }
    @font-face {
        font-family: Ro;
        src: url('../../google/Roboto/Roboto-Regular.ttf');
    }
    .navright{
        display: none;
    }
    .res{
        display: flex;
        
    }
    
    .burger{
        display: block;   
    }
    
    .navia{
        background-color:#253d59;
        
    }
    
    
    
    .navright button{
        display: none;
    }
    .navright input{
        display: none;
    }
    
    .navbar img{
        margin-left: 120px;
    }
    .navmain{
        
    }
    .navbar{
        
        display: flex;
        margin: 0px;
 
    }
    .flex{
        /* background-color: white; */
        /* justify-content:space-evenly; */
        display:flex;
        align-items: center;
        justify-content: center;

    }
    .fir{
        background-color: white;
        margin: 0px 0px 0px 0px;
    }
   #l1{
       /* align-items: right;
       justify-content: right; */
       /* margin-left: 32px; */
   }

   .noicon{
    display: block; 
}
.fir{
    display:flex;
    margin-bottom: 32px;
    width:auto;
}
.flex{
    display: inline-block;
}

.but{
    /* margin: 0; */
    margin-left: 32px;
    width: 100px;
    height: 25px;

}
#jfjf{
    border-right:1px solid grey;
}
.fir img{
    height: 250px;
    width: 163px;
    border-radius: 3px;
}

.rimg{
    display: inline-block;
}

.ahsdl{
    display: none;
}
.rc{
    margin: -31px 0px 0px 12px;
    display: grid;
    grid-template-rows: 45px 45px 35px 45px;
}
.tc{
    margin: -31px 0px 0px 12px;
    display: grid;
    grid-template-rows: 45px 48px 23px 34px 54px;
    
}
    

.ttt{
    font-family: Ro;
    display: block;
    margin-left: 9px;
    /* font-weight: bold; */
}

.mis{
    font-family: Ro;
    font-size: 27px;
    margin-left: 12px;
    /* font-weight: bold; */
}
#fhfhffhfhfhf{
    font-size: 25px;
    /* font-weight: 800; */
    margin-left: -7px;
    
}
}